In [53]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [54]:
df = pd.read_excel("propert_prices.xlsx")
df.head()

,price,address,type,bed,bath,size,district
0,26000000.0,Block H Bashundhara R-A Dhaka,Duplex,5,4,3100,Dhaka
1,80000000.0,Gulshan 1 Gulshan Dhaka,Duplex,4,5,4662,Dhaka
2,29000000.0,Baridhara DOHS Dhaka,Duplex,4,5,2530,Dhaka
3,11200000.0,Wari Sutrapur Dhaka,Duplex,3,3,1322,Dhaka
4,33500000.0,Aruna Polli Ashulia Savar Dhaka,Duplex,5,6,9464,Dhaka

In [55]:
df ['ppsf'] = df['price']/df['size']
df

,price,address,type,bed,bath,size,district,ppsf
0,26000000.0,Block H Bashundhara R-A Dhaka,Duplex,5,4,3100,Dhaka,8387.096774
1,80000000.0,Gulshan 1 Gulshan Dhaka,Duplex,4,5,4662,Dhaka,17160.017160
2,29000000.0,Baridhara DOHS Dhaka,Duplex,4,5,2530,Dhaka,11462.450593
3,11200000.0,Wari Sutrapur Dhaka,Duplex,3,3,1322,Dhaka,8472.012103
4,33500000.0,Aruna Polli Ashulia Savar Dhaka,Duplex,5,6,9464,Dhaka,3539.729501
...,...,...,...,...,...,...,...,...
10840,7200000.0,"Road No 1, Block H, Halishahar Housing Estate,...",Apartment,3,3,1552,Chattogram,4639.175258
10841,3600000.0,"Shantibag Residential Area, 24 No. North Agrab...",Apartment,2,2,1000,Chattogram,3600.000000
10842,6000000.0,"Chandrima, Chandgaon Residential Area, 4 No Ch...",Apartment,3,3,1215,Chattogram,4938.271605
10843,7200000.0,"Chattogram DOHS, Bayazid, Chattogram",Apartment,3,4,1350,Chattogram,5333.333333
10844,7000000.0,"Lake Valley R/A, 9 No. North Pahartali Ward, C...",Apartment,3,3,1400,Chattogram,5000.000000

In [56]:
mask1 = df['district'] == 'Dhaka'
mask2 = df['type'] == ('Apartment', 'Duplex')

df_apt = df[(mask1 & mask2)]

In [57]:
df_apt['ppsf'].max()

nan

In [58]:
df_apt

Empty DataFrame
Columns: [price, address, type, bed, bath, size, district, ppsf]
Index: []

In [24]:
df_apt_mirpur = df_apt[df_apt['address'].str.contains("Mirpur")]
df_apt_gulshan = df_apt[df_apt['address'].str.contains("Gulshan")]
df_apt_uttara = df_apt[df_apt['address'].str.contains("Uttara")]
df_apt_dhanmondi = df_apt[df_apt['address'].str.contains("Dhanmondi")]
df_apt_banani = df_apt[df_apt['address'].str.contains("Banani")]
df_apt_cantonment = df_apt[df_apt['address'].str.contains("Cantonment")]
df_apt_wari = df_apt[df_apt['address'].str.contains("Wari")]
df_apt_bashundhara_ra = df_apt[df_apt['address'].str.contains("Bashundhara R-A")]
df_apt_mohammadpur = df_apt[df_apt['address'].str.contains("Mohammadpur")]
df_apt_adabor = df_apt[df_apt['address'].str.contains("Adabor")]
df_apt_banasree = df_apt[df_apt['address'].str.contains("Banasree")]
df_apt_badda = df_apt[df_apt['address'].str.contains("Badda")]
df_apt_savar = df_apt[df_apt['address'].str.contains("Savar")]

In [25]:
df_apt_cantonment

,price,address,type,bed,bath,size,district,ppsf
1261,11000000.0,Matikata Cantonment Dhaka,Apartment,4,3,1900,Dhaka,5789.473684
1517,53600000.0,Cantonment Dhaka,Apartment,4,5,2975,Dhaka,18016.806723
2039,19000000.0,Matikata Cantonment Dhaka,Apartment,4,4,2820,Dhaka,6737.588652
2452,27400000.0,Cantonment Dhaka,Apartment,4,4,2200,Dhaka,12454.545455
2516,12000000.0,Cantonment Dhaka,Apartment,3,4,1700,Dhaka,7058.823529
...,...,...,...,...,...,...,...,...
8608,5712000.0,South Manikdi Manikdi Cantonment Dhaka,Apartment,3,3,1190,Dhaka,4800.000000
8618,5760000.0,South Manikdi Manikdi Cantonment Dhaka,Apartment,3,3,1200,Dhaka,4800.000000
8619,5712000.0,South Manikdi Manikdi Cantonment Dhaka,Apartment,3,3,1190,Dhaka,4800.000000
8722,6965000.0,Matikata Cantonment Dhaka,Apartment,3,4,1370,Dhaka,5083.941606
8796,5000000.0,Goltek Cantonment Dhaka,Apartment,3,3,1234,Dhaka,4051.863857

In [28]:
print('MIRPUR')
print('mean:')
print(df_apt_mirpur['ppsf'].mean())
print('median:')
print(df_apt_mirpur['ppsf'].median())
print(df_apt_mirpur['ppsf'].max())

MIRPUR
mean:
5349.869312402724
median:
5185.185185185185
11981.566820276497

In [29]:
print('GULSHAN')
print('mean:')
print(df_apt_gulshan['ppsf'].mean())
print('median:')
print(df_apt_gulshan['ppsf'].median())
print(df_apt_gulshan['ppsf'].max())

GULSHAN
mean:
16080.54694434045
median:
15445.544554455446
28063.610851262863

In [30]:
print('UTTARA')
print('mean:')
print(df_apt_uttara['ppsf'].mean())
print('median:')
print(df_apt_uttara['ppsf'].median())
print(df_apt_uttara['ppsf'].max())

UTTARA
mean:
7486.929969854959
median:
7074.7133410180195
18285.249898415277

In [39]:
print('DHANMONDI')
print('mean:')
print(df_apt_dhanmondi['ppsf'].mean())
print('median:')
print(df_apt_dhanmondi['ppsf'].median())
print(df_apt_dhanmondi['ppsf'].max())
print(df_apt_dhanmondi['price'].max())

DHANMONDI
mean:
10227.220766187846
median:
8823.529411764706
20143.3936497098
59000000.0

In [62]:
print('BANANI')
print('mean:')
print(df_apt_banani['ppsf'].mean())
print('median:')
print(df_apt_banani['ppsf'].median())

BANANI
mean:
14515.688844917953
median:
13725.490196078432

In [63]:
print('CANTONMENT')
print('mean:')
print(df_apt_cantonment['ppsf'].mean())
print('median:')
print(df_apt_cantonment['ppsf'].median())

CANTONMENT
mean:
4936.076182004387
median:
4631.578947368421

In [64]:
print('WARI')
print('mean:')
print(df_apt_wari['ppsf'].mean())
print('median:')
print(df_apt_wari['ppsf'].median())

WARI
mean:
7372.858626447452
median:
7250.0

In [65]:
print('BASHUNDHARA R-A')
print('mean:')
print(df_apt_bashundhara_ra['ppsf'].mean())
print('median:')
print(df_apt_bashundhara_ra['ppsf'].median())

Bashundhara R-A
mean:
8076.94306200304
median:
7836.990595611285

In [66]:
print('MOHAMMADPUR')
print('mean:')
print(df_apt_mohammadpur['ppsf'].mean())
print('median:')
print(df_apt_mohammadpur['ppsf'].median())

Mohammadpur
mean:
5465.596515113493
median:
4875.0

In [67]:
print('ADABOR')
print('mean:')
print(df_apt_adabor['ppsf'].mean())
print('median:')
print(df_apt_adabor['ppsf'].median())

ADABOR
mean:
6127.909914762089
median:
6003.533568904593

In [68]:
print('BANASREE')
print('mean:')
print(df_apt_banasree['ppsf'].mean())
print('median:')
print(df_apt_banasree['ppsf'].median())

BANASREE
mean:
6315.7763238837015
median:
6315.789473684211

In [69]:
print('BADDA')
print('mean:')
print(df_apt_badda['ppsf'].mean())
print('median:')
print(df_apt_badda['ppsf'].median())

BADDA
mean:
6028.65193574215
median:
5502.645502645502

In [14]:
print('SAVAR')
print('mean:')
print(df_apt_savar['ppsf'].mean())
print('median:')
print(df_apt_savar['ppsf'].median())

SAVAR
mean:
3580.792531308594
median:
3333.3333333333335

In [70]:
mask3 = df['district'] == 'Chattogram'
mask4 = df['type'] == 'Apartment'

df_apt_ctg = df[(mask3 & mask4)]

In [71]:
df_apt_ctg

,price,address,type,bed,bath,size,district,ppsf
9517,13200000.0,"Nasirabad Housing Society, Muradpur, Chattogram",Apartment,3,4,1800,Chattogram,7333.333333
9518,15000000.0,"Khulshi Hill R/A, North Khulshi, Khulshi, Chat...",Apartment,3,3,1750,Chattogram,8571.428571
9519,14300000.0,"Nasirabad Housing Society, Muradpur, Chattogram",Apartment,3,4,1900,Chattogram,7526.315789
9520,18000000.0,"Zakir Hossain Housing Society, South Khulshi, ...",Apartment,3,3,2286,Chattogram,7874.015748
9521,15500000.0,"Mehidibag, 15 No. Bagmoniram Ward, Chattogram",Apartment,3,4,2350,Chattogram,6595.744681
...,...,...,...,...,...,...,...,...
10841,7200000.0,"Road No 1, Block H, Halishahar Housing Estate,...",Apartment,3,3,1552,Chattogram,4639.175258
10842,3600000.0,"Shantibag Residential Area, 24 No. North Agrab...",Apartment,2,2,1000,Chattogram,3600.000000
10843,6000000.0,"Chandrima, Chandgaon Residential Area, 4 No Ch...",Apartment,3,3,1215,Chattogram,4938.271605
10844,7200000.0,"Chattogram DOHS, Bayazid, Chattogram",Apartment,3,4,1350,Chattogram,5333.333333
10845,7000000.0,"Lake Valley R/A, 9 No. North Pahartali Ward, C...",Apartment,3,3,1400,Chattogram,5000.000000

In [72]:
print(df_apt_ctg['ppsf'].mean())

5330.138688979778

In [73]:
df_apt_nasirabad = df_apt_ctg[df_apt_ctg['address'].str.contains("Nasirabad")]
df_apt_agrabad = df_apt_ctg[df_apt_ctg['address'].str.contains("Agrabad")]

In [74]:
df_apt_nasirabad['ppsf'].mean()

6958.126377874967

In [75]:
df_apt_agrabad['ppsf'].mean()

4643.521449399763